.formcontainer {
    width: 300px;
    height: 430px;
    background-color: #555;
    position: relative;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    border-radius: 10px;
}
.form-btn {
    text-align: center;
}
.loginbox {
    padding: 20px;
}
.form-btn span {
    font-weight: bold;
    margin: 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
}
#indicator {
    width: 80px;
    height: 3px;
    background: #ff523b;
    border: none;
    width: 100px;
    transform: translateX(10px);
}


    /* calculator css */

.row1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.col1 {
    width: 20px;
    height: 20px;
    background-color: blue;
    margin: 10px;
    border: none;
    border-radius: 7px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s;
}
.col1:hover {
    transform: translateY(-3px);
}
.calci {
    width: 80%;
    text-align: end;
    margin: 0 20px;
    padding: 10px;
    font-size: 20pt;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}